<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.alex.blog.mapper.CategoryMapper">
<sql id="categoryColumns">
id,
name,
rank,
description
</sql>

<sql id="findByCondition">
<where>
<if test="category.id != null">
id = #{category.id}
</if>
<if test="category.rank != null">
rank = #{category.rank}
</if>
</where>
</sql>

<insert id="create">
INSERT INTO blog_category(<include refid="categoryColumns"/>, created_at,updated_at)
VALUES (
  #{category.id},#{category.name},#{category.rank},#{category.description},now(),now()
)
</insert>

<update id="update">
UPDATE blog_category 
<set>
name = #{name},
updated_at = now()
</set>
WHERE id = #{id}
</update>

<select id="findById" resultType="Category">
SELECT <include refid="categoryColumns"/> FROM blog_category
WHERE id = #{id}
</select>

<select id="listByRequest" resultType="Category">
SELECT <include refid="categoryColumns"/> FROM blog_category
<include refid="findByCondition" />
</select>

</mapper>