$grey-color-1: #f7f7f9;
$grey-color-2: #e8eaed;
$grey-color-4: #6c747f;
$grey-color-5: #42474d;
$grey-color-6: #54545e;
$black-color-1: #1a1d21;
$black-color-2: #18171c;
$purple-color-1: #612fff;
$orange-color-1: #ff4f42;
